{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}home.html{% endblock %}
{% block rightSideNav %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.get_username }} -->
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
{% endblock %}

{% block addTask %}
    <form action="{% url "sendform" %}" method="POST">
        {% csrf_token %}
        {% crispy form %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}